html {
  font-size: 16px;
}

body {
  background-color: #fbf7f0;
  font-family: sans-serif;
  font-size: 16px;


}

.container {
  width: 100%;
  align-items: center;
}

div {
  padding: 2% 2%;
  margin-inline: 5%;
  


}

.baslik {
  background-color: #838383;
}

.egitim {
  background-color: #ad9d9d;
}

.tecrubeler {
  background-color: #d9adad;
}

.diller {
  background-color: #fccbcb;
}

.socialmedia {
  background-color: #838383;
}

.button {
  padding: 22px;
  margin: 6px;
  background-color: #d9e4dd;
  color: #555555;
  border: 0;
  border-radius: 6px;
}

.inputtex {
  border-radius: 5px;
  border: 1px solid grey;
  width: 300px;
  padding: 3px 3px;
  margin: 3px;
}
